@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

:root {
  --dark: #121212;
  --light: #ffffff;
  --semi-dark: #262a2f;
  --color: #bb86fc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-decoration: none;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: 100vh;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container h1{
  margin: 10px 0;
}

.container .buttons {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.container button {
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: all ease 0.3s;
}

.container button:hover {
  background-color: var(--color);
  color: var(--light);
}

.container button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--dark);
  font-size: 20px;
  font-weight: 500;
}

.container button span {
  font-size: 15px;
}

.container .paragraph {
  text-align: justify;
}

@media only screen and (max-width: 530px) {
  .container .buttons {
    justify-content: center;
  }
  .container button {
    margin: 10px;
  }
  .container .paragraph {
    margin: 0 20px;
    font-size: 15px;
  }
}
